body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #f8f9fa;
}

h1, h2, h3, h4 {
    color: #333;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    color: #007bff;
}

h3 {
    margin-top: 10px;
    color: #333;
}

h4 {
    margin-top: 10px;
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}
